html {
  font-size: var(--font-size, 15px);
  width: 100%;
  width: 100vw;
}

::-moz-selection {
  background: var(--c-bg-selection);
}

::selection {
  background: var(--c-bg-selection);
}

/* Force vertical scrollbar to be always visible to avoid layout shift while loading the content */
body {
  -webkit-tap-highlight-color: transparent;
}